<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="3DProTek" />
        <meta name="description" content="3DProTek provides 3D printers and 3D printing services. You can print your own 3D printable files (.STL) or select our amazing pre-designs models." />
        <meta name="keywords" content="3D, 3 dimensions, 3D printing, melbourne, australia, 3D printer, rapid prototype, STL, 3D design, model" />
        <title>@ViewBag.Title - 3DProTek</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body ng-app="app">
        <header>
            <div class="navbar" role="navigation">
                <div class="container-fluid">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                        
                            <span class="navbar-brand"><a href="#">3DProTek</a> <span class="navbar-brand-subtext">brings your creativity to life</span></span>
                        </div>
                        <div class="navbar-collapse collapse">                            
                            <ul class="menu list-inline navbar-right">
                                <li>
                                    <a href="#account">
                                        <div>ABOUT</div>
                                        <div class="sub">Who We Are</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#pyo">
                                        <div>P Y O</div>
                                        <div class="sub">Print Your Own</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#library">
                                        <div>OUR 3D DESIGNS</div>
                                        <div class="sub">Ready For Printing</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#contact">
                                        <div>CONTACT</div>
                                        <div class="sub">In Touch With Us</div>
                                    </a>
                                </li>
                            </ul>                                
                        </div><!--/.navbar-collapse -->              
                    </div>
                </div>
            </div>


            @*<div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>*@
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>3DProTek.com &copy; @DateTime.Now.Year - All Rights Reserved</p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
